*{
	font-family: Century Gothic;
}

body{
	background-color: rgba(240, 240, 255, 1);
}

h1{
	text-align: center;
	color: blue;
	margin-top: 120px;
}

input{
	width: 300px;
	height: 30px;
	outline: none;
	border: none;
	border-bottom: 2px solid blue;
	color: blue;
	padding-left: 10px;
	background-color: rgba(240, 240, 255, .9);
}

form{
	text-align: center;
}

button{
	background-color: blue;
	color: white;
	border: 0px;
	height: 40px;
	width: 310px;
	border-radius: 5px;
}

button:active{
	margin-top: 2px;
	box-shadow: 2px 2px 4px gray;
	transition: 0.1s;
}